body{
	padding: 0;
	margin: 0;
	background: teal no-repeat;
	font-family: cursive;
	
	
}
form{
	margin: 40px;
}
ul
{
	
	font-style: italic;
	color: black;

}
p{
	margin-left: 100px; 

}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
footer{
	text-align:center;
}

input[type='submit']{
	background:#f06226;
	border:0;
	color:#fff;
	padding:10px 15px;
	cursor:pointer;
}

#results h3{
	background:#f06226;
	padding:10px;
	margin:10px 0;
}

#results span{
	color:#000;
	font-weight:bold;
}
.toggle{
	text-align: center;
	
}
.toggle a{
	display: inline-block;
	width: 150px;
	height: 80px;
	line-height: 70px;
	font-weight: 600;
	transition: 0.5s;
	position: relative;
	padding-right: 30px;
	letter-spacing: 3px;
	
}
.toggle a:hover{
	color: pink;
	transition: 0.3s;
}